node-red-flow-http.json
[{"id":"92acec59.db4a1","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"592052ce.aaddec","type":"http in","z":"92acec59.db4a1","name":"","url":"data","method":"post","upload":false,"swaggerDoc":"","x":130,"y":160,"wires":[["7108c4dd.a4149c","1d261d6a.225373"]]},{"id":"7108c4dd.a4149c","type":"debug","z":"92acec59.db4a1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":60,"wires":[]},{"id":"1d261d6a.225373","type":"function","z":"92acec59.db4a1","name":"set header and data params","func":"msg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['accesstoken'] = 'X9RMCgQlJTBJjvi0sBtkee2Xvn3hvXiW';\n\nlet data = msg.payload;\n\nmsg.payload = {\n    \"device_developer_id\": 'raspiDev@krisTest',\n    'data': data\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":220,"wires":[["a15600e0.ca131"]]},{"id":"a15600e0.ca131","type":"http request","z":"92acec59.db4a1","name":"requesting to IOT Platform","method":"POST","ret":"obj","paytoqs":false,"url":"https://apiv2.favoriot.com/v2/streams","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":220,"wires":[["1f86f899.985cc7","202214dc.1acf3c"]]},{"id":"1f86f899.985cc7","type":"debug","z":"92acec59.db4a1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":120,"wires":[]},{"id":"202214dc.1acf3c","type":"http response","z":"92acec59.db4a1","name":"","statusCode":"200","headers":{},"x":960,"y":240,"wires":[]}]